/* tag selector*/
h1 {
    background-color : rgb(0, 30, 255);
}
img:hover {
    background-color: aqua;
}

/* class selector*/
.Bacon {
    background-color: green;
}
.Bag {
    background-color: brown;
}

.circular {
    border-radius: 100%;
}

/* id selector*/
#heading {
    background-color: blueviolet;
    color: blue;
}
